@if (shown && wpFormData) {
  <div class="dialog">
    <h2>
      @if (editing) {
        Edit waypoint
      } @else {
        Add waypoint
      }
    </h2>
    @if (errorMsg) {
      <div class="error">{{ errorMsg }}</div>
    }
    <form #f="ngForm" (ngSubmit)="onSubmit(f)">
      <div class="input">
        Name:
        <input
          type="text"
          name="wpName"
          autocomplete="off"
          [(ngModel)]="wpFormData!.name"
        />
      </div>
      <div class="input">
        Latitude:
        <input
          type="text"
          name="wpLat"
          autocomplete="off"
          [(ngModel)]="wpFormData!.lat"
        />
      </div>
      <div class="input">
        Longitude:
        <input
          type="text"
          name="wpLon"
          autocomplete="off"
          [(ngModel)]="wpFormData!.lon"
        />
      </div>
      <div class="desc">
        Supported formats for latitude / longitude:
        <li>Degrees and decimal minutes (DMM), e.g. 12 N 34.5678, 12° 34.5678' N</li>
        <li>Degrees, minutes, seconds (DMS), e.g. 12° 34' 34.1" N</li>
        <li>Decimal degrees (DD), e.g. 12.57613 (number sign indicates direction)</li>
      </div>
      <div class="buttons">
        <button type="button" (click)="onCancel(f)">Cancel</button>
        <button type="submit">Done</button>
      </div>
    </form>
  </div>
}
