@if (connectionState != DCS.Connected) {
<button
  [disabled]="connectionState === DCS.Connecting"
  (click)="deviceMgr.connect()"
  >Connect</button>
} @else {
  <button
  (click)="readConfig()"
  >Read config</button>
  <button
  (click)="deviceMgr.disconnect()"
  >Disconnect</button>
}
<p>Device state is {{this.connectionState}}.
   @if (this.readState) {
    READING
   }
   @if (this.writeState) {
    WRITING
   }
</p>
@if (this.mmsi.getValue() > '') {
  <p>MMSI is {{this.mmsi.getValue()}}.</p>
}