<div class="device-panel">
  <img class="device-picture" src="assets/radio.png" />
  <div class="controls">
    @if (
      connectionState != 'usb-connected' && connectionState != 'dat-connected'
    ) {
      <div class="connection-info">
        <h2>Connect your device</h2>
        <div class="desc-para">
          To edit device configuration (waypoints, routes, DSC directory...), or
          download a GPS log in GPX format, connect your HX870, HX890, or
          HX891BT radio with a USB cable, and place it in "<b>CP Mode</b>":
          <ol>
            <li>Power the device off</li>
            <li>Press and hold the Menu key</li>
            <li>While holding the Menu key, press the power button</li>
            <li>Release both keys when the screen lights up</li>
            <li>Click Connect</li>
          </ol>
          <button
            [disabled]="connectionState === 'usb-connecting'"
            (click)="connectUsb($event)"
            data-umami-event="connect"
            class="primary"
          >
            <lucide-icon
              [img]="ChevronsLeftRightEllipsis"
              class="chevrons-left-right-ellipsis"
              [size]="20"
            ></lucide-icon>
            Connect
          </button>

          <div class="desc-para">
            Alternatively,
            <a href="#" (click)="showDatPicker()" data-umami-event="Load DAT"
              >load a DAT file</a
            >
            for your device to edit it.
          </div>
          <div class="desc-para">
            To edit device configuration for a GX1400 fixed-mount ratio, connect
            it to your computer with a USB-to-serial adapter (<a
              href="https://github.com/mbof/hxsync/blob/main/gx.md"
              >see wiring instructions</a
            >), place it in CP Mode, then hold the Shift key while clicking
            Connect.
          </div>
        </div>
      </div>
    } @else {
      <div class="connected-buttons">
        @if (deviceMgr.configSession._deviceConfig?.waypoints) {
          <button (click)="readWaypoints()" data-umami-event="Waypoints edit">
            <lucide-icon
              [img]="MapPin"
              class="map-pin"
              [size]="20"
            ></lucide-icon>
            Waypoints
          </button>
        }
        @if (deviceMgr.configSession._deviceConfig?.dsc) {
          <button (click)="readMmsi()" data-umami-event="MMSI edit">
            <lucide-icon
              [img]="NotebookTabs"
              class="notebook-tabs"
              [size]="20"
            ></lucide-icon>
            MMSI Directory
          </button>
        }
        <button (click)="readYaml()" data-umami-event="YAML edit">
          <lucide-icon [img]="Code" class="code" [size]="20"></lucide-icon>
          Edit as Yaml
        </button>
        @if (
          connectionState == 'usb-connected' &&
          deviceMgr.configSession._deviceConfig?.hasGps
        ) {
          <button (click)="readGpslog()" data-umami-event="GPS log download">
            <lucide-icon [img]="Route" class="route" [size]="20"></lucide-icon>
            Download GPS log
          </button>
        }
        @if (deviceMgr.configSession._deviceConfig?.dat) {
          <button (click)="saveDat()" data-umami-event="Save DAT">
            <lucide-icon
              [img]="ArrowDownToLine"
              class="arrow-down-to-line"
              [size]="20"
            ></lucide-icon>
            Save DAT
          </button>
        }
        @if (connectionState == 'usb-connected') {
          @if (deviceMgr.configSession._deviceConfig?.dat) {
            <button (click)="restoreDat()" data-umami-event="Restore DAT">
              <lucide-icon
                [img]="ArrowUpFromLine"
                class="arrow-up-from-line"
                [size]="20"
              ></lucide-icon>
              Restore from DAT
            </button>
          }
          <button
            (click)="deviceMgr.disconnect()"
            data-umami-event="Disconnect"
          >
            <lucide-icon [img]="X" class="x" [size]="20"></lucide-icon>
            Disconnect
          </button>
        } @else if (connectionState == 'dat-connected') {
          <button (click)="deviceMgr.disconnect()" data-umami-event="Close">
            <lucide-icon [img]="X" class="x" [size]="20"></lucide-icon>
            Close
          </button>
        }
      </div>
    }
  </div>
</div>
<waypoint-sheet />
<mmsi-sheet />
<yaml-sheet />
<busy-state-modal />
