.device-panel {
  display: flex;
}

.device-picture {
  width: 150px;
  height: 150px;
  margin-right: 1em;
}

.status-lights {
  width: 100px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.status-lights .light {
  width: 24px;
  height: 24px;
  border-radius: 14px;
  border: solid 1px #444;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes on-light {
  0% {
    background-color: rgb(28, 136, 28);
  }
  50% {
    background-color: rgb(54, 174, 54);
  }
  100% {
    background-color: rgb(28, 136, 28);
  }
}

.status-lights .on {
  background-color: rgb(28, 136, 28);
  color: white;
  animation-name: on-light;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.controls {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.connected-buttons {
  flex-flow: wrap;
}

.desc-para {
  margin-top: 1em;
}
