.device-panel {
  display: flex;
}

.device-picture {
  width: 150px;
  height: 150px;
}

.status-lights {
  width: 100px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.status-lights .light {
  width: 24px;
  height: 24px;
  border-radius: 14px;
  border: solid 1px #444;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes on-light {
  0% {
    background-color: rgb(28, 136, 28);
  }
  50% {
    background-color: rgb(54, 174, 54);
  }
  100% {
    background-color: rgb(28, 136, 28);
  }
}

.status-lights .on {
  background-color: rgb(28, 136, 28);
  color: white;
  animation-name: on-light;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.controls {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 5px 10px;
  background: rgb(38, 42, 85);
  color: white;
  font-weight: bold;
}

button:disabled {
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 5px 10px;
  background: rgb(151, 151, 151);
  color: rgb(48, 48, 48);
  font-weight: bold;
}

.waypoints {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.waypoints .list {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.waypoints .list td {
  text-align: center;
}

.waypoints .list .button {
  align-self: center;
}

.waypoints .list .action {
  cursor: pointer;
}

.waypoints .controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 3;
}
