.yaml-preview {
  background: #eee;
  border: solid 1px #777;
  margin: 0.5em 0;
  padding: 0.5em;
  max-height: 150px;
  overflow: scroll;
}

.yaml-preview pre {
  margin: 0;
}

.controls {
  display: flex;
}

.instructions {
  width: 70%;
}

.buttons {
  width: 30%;
  align-self: center;
  text-align: center;
}

.status {
  font-size: 12px;
}
