
<main class="main">
  <div class="content">
    <h1>HxSync</h1>
    <div class="desc">
      Connect your Standard Horizon HX890 portable VHF radio with a USB
      cable and click "Connect" to start. You'll be able to:
      <ul>
        <li>Read and modify waypoints</li>
        <li>Download the GPS log in GPX format</li>
      </ul>
    </div>
    <div class="desc">
      Your device must be in "CP Mode". To enter this mode, first power the
      device off. Then, while holding the Menu key pressed, press the power
      button. Then, release both keys.
    </div>
    <div class="desc">
      This experimental utility is not provided by Standard Horizon. Use at your
      own risk!
    </div>
    <app-device />
  </div>
</main>

<router-outlet />
