@if (shown) {
  <div class="veil">
    <div class="modal">
      <h2>Yaml Editor</h2>
      @if (!yamlError) {
        <div class="info">
          Edit the radio's configuration as a YAML file.
          <a
            href="https://github.com/mbof/hxsync/blob/main/yaml.md"
            target="_blank"
            >Documentation</a
          >
        </div>
      } @else {
        <div class="error">
          {{ yamlError }}
        </div>
      }
      <div class="contents">
        <textarea [formControl]="yamlControl"></textarea>
      </div>
      <div class="controls">
        <button (click)="cancel()">Cancel</button>
        <button (click)="save()">Save</button>
      </div>
    </div>
  </div>
}
