button {
  background-color: #dcedff;
  color: #0076f4;
  border: none;
  padding: 5px 25px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s ease;
  margin: 0.5em;
  display: inline-flex;
  align-items: center;
  gap: 5px;
  min-height: 38px;
}

button:hover {
  background-color: #aad3ff;
}

button.primary {
  background-color: #007bff;
  color: white;
}

button:hover.primary {
  background-color: #0056b3;
}

button:disabled {
  background-color: rgb(151, 151, 151);
  color: rgb(48, 48, 48);
  border: none;
}

button:disabled:hover {
  background-color: rgb(151, 151, 151);
}

button lucide-icon {
  display: inline-block;
  margin-left: -5px;
  margin-right: 5px;
  transform: translateY(2px);
}

body {
  font-family: Arial, sans-serif;
}
