@if (
  state == 'gpslog-read' ||
  state == 'nav-read' ||
  state == 'nav-save' ||
  state == 'mmsi-read' ||
  state == 'mmsi-save' ||
  state == 'yaml-read' ||
  state == 'yaml-save' ||
  state == 'dat-read' ||
  state == 'dat-restore'
) {
  <div class="veil">
    <div class="modal">
      <div class="message">
        @if (state == 'gpslog-read') {
          Reading GPS log ({{ progressPct }}%)
        } @else if (state == 'nav-read') {
          Reading waypoints ({{ progressPct }}%)
        } @else if (state == 'nav-save') {
          Saving waypoints ({{ progressPct }}%)
        } @else if (state == 'mmsi-read') {
          Reading MMSI directory ({{ progressPct }}%)
        } @else if (state == 'mmsi-save') {
          Saving MMSI directory ({{ progressPct }}%)
        } @else if (state == 'yaml-read') {
          Reading for YAML edit ({{ progressPct }}%)
        } @else if (state == 'yaml-save') {
          Saving YAML configuration ({{ progressPct }}%)
        } @else if (state == 'dat-read') {
          Reading DAT configuration ({{ progressPct }}%)
        } @else if (state == 'dat-restore') {
          Restoring DAT configuration ({{ progressPct }}%)
        }
      </div>
      <div class="spinner"></div>
    </div>
  </div>
}
