@if (shown) {
  <div class="veil">
    <div class="modal">
      <div class="contents">
        <div class="waypoints">
          <div class="list">
            @if (!getDraftWaypoints()?.waypoints?.length) {
              No waypoints!
            } @else {
              <table>
                <tr>
                  <th>Name</th>
                  <th>Latitude</th>
                  <th>Longitude</th>
                </tr>
                @for (wp of getDraftWaypoints()!.waypoints; track wp) {
                  <tr>
                    <td>
                      <a
                        href="{{ wp.getMapLink() }}"
                        target="_blank"
                        data-umami-event="Waypoint map link"
                        >{{ wp.wp.name }} ↗</a
                      >
                    </td>
                    <td>{{ wp.getLat() }}</td>
                    <td>{{ wp.getLon() }}</td>
                    <td
                      class="action"
                      (click)="draftEditWaypoint(wp)"
                      data-umami-event="Edit waypoint"
                    >
                      ✎
                    </td>
                    <td
                      class="action"
                      (click)="draftDeleteWaypoint(wp)"
                      data-umami-event="Delete waypoint"
                    >
                      ✖
                    </td>
                  </tr>
                }
              </table>
            }
            <button
              (click)="draftAddWaypoint()"
              data-umami-event="Add waypoint"
            >
              Add waypoint
            </button>
          </div>
        </div>
        <waypoint-editor />
      </div>
      <div class="controls">
        <button (click)="draftCancel()" data-umami-event="Waypoints cancel">
          Cancel
        </button>
        <button
          [disabled]="!isPendingDraft()"
          (click)="saveDraft()"
          data-umami-event="Waypoints save"
        >
          Save
        </button>
      </div>
    </div>
  </div>
}
